.btn {
	-fx-background-radius: 3.0em 3.0em 0.0em 0.0em;
    -fx-background-color: #ffffff;
}

.rounded-btn {
	-fx-background-radius: 3.0em;
    -fx-background-color: #ffffff;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
}

.jfx-combo-box {
	-fx-background-color:  WHITE;
}

.jfx-combo-box .label {
	-fx-background-color:  WHITE;
	-fx-text-fill: BLACK;
}

.controlIcon{
	-fx-fill: #ffffff;
}

#configPane{
	-fx-background-radius:  3.0em 3.0em 0.0em 0.0em;
	-fx-background-color: linear-gradient(to left, #232526, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */-fx-fill: #ffffff;
}

#titleBackground{
	-fx-background-radius:  3.0em;	
}

/* Styling the slider track */
.jfx-slider > .track {
     -fx-background-color: #ffffff;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
     -fx-background-color: #ffffff;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
     -fx-background-color: #ffffff;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
     -fx-background-color: #ffffff;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
     -fx-fill: black;
     -fx-stroke: black;
}